VITE_FIREBASE_API_KEY=AIzaSyAcFOznBL7kBGjQAFkdffdSkDpq9dKkwos
VITE_FIREBASE_AUTH_DOMAIN=datospaginasweb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=datospaginasweb
VITE_FIREBASE_STORAGE_BUCKET=datospaginasweb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=371692313280
VITE_FIREBASE_APP_ID=1:371692313280:web:60e9b7f8d8afa393f8eb25
VITE_MEASUREMENT_ID=G-W94747WSN6
